*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
results
dump

npm-debug.log

!package/package.json

.DS_Store
.idea
logs/run.log
logs/*.log
lib-cov
coverage.html
coverage
public/uploads
public/images
public/videos

